﻿/*
 * Title Design like Aboutus,staff details,Galler heading
 * --------------------------------------------------
 */

.title-div {
    margin-bottom: 20px;
    font-family:Digital-7;
}

h3.tittle {
    color: #000;
    font-size:2em;/*//Font Size*/
    text-align: center;
    margin-bottom: 10px;
}

/*Font Color and Design*/
    h3.tittle span {
        color: #f73b46;
    }

    h3.tittle label {
        color: #0838be;
    }

/*=====Font Color and Design===*/

.tittle-style {
    position: relative;
}

    .tittle-style:before {
        content: "";
        background: #000;
        width: 8%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 46%;
    }

    .tittle-style:after {
        content: "";
        background: #ef5861;
        width: 3%;
        height: 5px;
        position: absolute;
        top: -2px;
        left: 48%;
        border-radius: 6px;
    }



/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/*Zoom Image_5 */
/**/
.img_zoom_5 {
    transition: transform .2s; /* Animation */
}

    .img_zoom_5:hover {
        transform: scale(5.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
/*Zoom //Image */
/**/