﻿/*#region ===========Footer================ */

.footer {
    background: none;
    text-decoration: none;
}

.agile-logo h4 {
    margin: 0;
    width: 44%;
}

    .agile-logo h4 a {
        /*font-family: 'Righteous', cursive;*/
        font-size: 1.5em;
        letter-spacing: 6px;
        text-transform: uppercase;
        /*color: #FFFFFF;*/
        text-decoration: none;
    }

        .agile-logo h4 a span {
            display: block;
            font-size: .4em;
            letter-spacing: 5px;
            text-align: right;
            /*font-family: 'Roboto Condensed', sans-serif;*/
        }

.agileinfo_footer_grid p {
    /*color: #fff;*/
    margin: 1em 0 2em;
    line-height: 2em;
}

/*-- social-icons --*/
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}

    .agileinfo-social-grids ul li {
        display: inline-block;
    }

        .agileinfo-social-grids ul li a {
            /*color: #fff;*/
            text-align: center;
        }

            /*#region ===Side Boarder=== */

            .agileinfo-social-grids ul li a i.fa{
                height: 40px;
                width: 40px;
                line-height: 40px;
                border: solid 2px #fff;
                /*color: #FFFFFF;*/
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                -ms-transition: 0.5s all;
            }

            /*#endregion */

            /*#region ===Facebook=== */
            .agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
                border: solid 2px #3b5998;
                background: #3b5998;
            }

            /*#endregion */

            /*#region ==twitter== */

            .agileinfo-social-grids ul li a i.fa.fa-twitter:hover {
                border: solid 2px #55acee;
                background: #55acee;
            }
            /*#endregion */

            /*#region ==rss== */
            .agileinfo-social-grids ul li a i.fa.fa-rss:hover {
                border: solid 2px #f26522;
                background: #f26522;
            }
            /*#endregion */

            /*#region ===vk== */
            .agileinfo-social-grids ul li a i.fa.fa-vk:hover {
                border: solid 2px #45668e;
                background: #45668e;
            }
        /*#endregion */

         /*#region ===whatsapp== */
                .agileinfo-social-grids ul li a i.fa.fa-whatsapp :hover {
                    border: solid 2px #ff0000;
                    background: #ff0000;
                }
        /*#endregion */

        .agileinfo-social-grids ul li:nth-child(2) {
            margin: .5em 0;
        }

        .agileinfo-social-grids ul li:nth-child(3) {
            margin: 0 0 .5em 0;
        }

/*--=============== //social-icons=============== --*/
.agileinfo_footer_grid h3 {
    font-size: 1.5em;
    /*color: #fff;*/
    padding-bottom: .5em;
    position: relative;
    margin-bottom: 1.5em;
}

    .agileinfo_footer_grid h3:after {
        content: '';
        background: #aebe27;
        width: 15%;
        height: 2px;
        position: absolute;
        bottom: 0%;
        left: 0%;
    }

ul.agileinfo_footer_grid_nav {
    padding: 0;
    margin: 0;
}

.agileinfo_footer_grid ul.agileinfo_footer_grid_list li, .agileinfo_footer_grid_nav li {
    list-style-type: none;
    margin-bottom: 1em;
    /*color: #fff;*/
}

    .agileinfo_footer_grid ul.agileinfo_footer_grid_list li i {
        /*color: #fff;*/
        border: 1px solid #999;
        padding: .5em;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        -ms-border-radius: 100%;
        margin-right: 1em;
    }

    .agileinfo_footer_grid ul.agileinfo_footer_grid_list li span {
        display: block;
        margin-left: 3em;
    }

    .agileinfo_footer_grid ul.agileinfo_footer_grid_list li a, .agileinfo_footer_grid_nav li a {
        /*color: #fff;*/
        text-decoration: none;
    }

        .agileinfo_footer_grid ul.agileinfo_footer_grid_list li a:hover, .agileinfo_footer_grid_nav li a:hover {
            /*color: #FFFFFF;*/
            text-decoration: none;
        }

    .agileinfo_footer_grid_nav li span {
        /*color: #fff;*/
        padding-right: 1.5em;
    }

.w3agile_footer_copy {
    margin: 1em 0 0;
    padding: 1em 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
}

    .w3agile_footer_copy p {
        /*color: #fff;*/
        line-height: 1.8em;
        margin: 0;
    }

        .w3agile_footer_copy p a {
            /*color: #fff;*/
            text-decoration: none;
        }

            .w3agile_footer_copy p a:hover {
                /*color: #FFFFFF;*/
            }

ul.agileinfo_footer_grid_list {
    padding: 0;
    margin: 0;
}

/*#endregion */
