﻿/* Latest News */
.news {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
    overflow: hidden;
}

    .news li {
        font-weight: bold;
        color: #963230;
        height: 30px;
        line-height: 30px;
        margin-left: 5px;
    }


.graybox {
    padding: 2px;
    /*background:#F5F5F5 url('../images/Textture_Colorty3.jpg') repeat-x scroll 0 bottom;*/
}

.latest-news {
    position: relative;
    background: linear-gradient(#195A09,#0dc498);
    text-transform: uppercase;
    /*=====Design Height===*/
    height: 31px;
    line-height: 31px;
    font-weight: bold;
    color: #FFF;
    padding: 3px;
    box-shadow: inset 0px 3px 8px #0c0901;
    text-align: center;
    animation: myfirst .8s infinite;
    -webkit-animation: myfirst .8s infinite; /* Safari and Chrome */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    /*top: -646px; left: -63px; */
}

/*=====Design Size left part ===*/
.left-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid red;
    border-bottom: 10px solid transparent;
    top: 5px;
    right: -9px;
}

@keyframes myfirst {
    from {
        color: red;
        font-size: 10pt;
    }

    to {
        color: yellow;
        font-size: 12pt;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {
        color: red;
        font-size: 10pt;
    }

    to {
        color: yellow;
        font-size: 12pt;
    }
}

@-moz-keyframes myfirst /* fireFox */
{
    from {
        color: red;
        font-size: 10pt;
    }

    to {
        color: yellow;
        font-size: 12pt;
    }
}

@-o-keyframes myfirst /* fireFox */
{
    from {
        color: red;
        font-size: 10pt;
    }

    to {
        color: yellow;
        font-size: 12pt;
    }
}

/*-------------- Latest News-------------- */
