﻿/*#region ===================Logo================== */

.w3layouts-logo {
    text-decoration: none;
    width:100%;
}
/*==========Boarder Design===========*/
.w3layouts-logo {
    /*ref: https://leaverou.github.io/css3patterns/*/
    cursor: pointer;
    /*background-color: red;*/
    /*border-radius: 0px;
    box-shadow: -5px -4px 5px 5px rgba(0,0,0,.3) inset, 0 0 0 10px rgba(255, 255, 255, .6) inset, 0 0 0 1px rgba(0,0,0,.5), 5px 2px 10px rgba(0,0,0,.6);
    /* Overrride for Webkit bug */
    /*-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, .6) inset, 0 0 0 1px rgba(0,0,0,.5), 2px 2px 10px rgba(0,0,0,.6);*/*/
}

/*===============Screen wise size Set=========*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .w3layouts-logo-text1 {
        font-size: 100%;
    }
    .w3layouts-logo-text2 {
        font-size: 10px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .w3layouts-logo-text1 {
        font-size: 40px;
    }
    .w3layouts-logo-text2 {
        font-size: 25px;
    }
}





