﻿


ul#css3menu100, ul#css3menu100 ul {
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #000;
    background-image: url("mainbk.png");
    background-repeat: repeat;
    border-width: 0px;
    border-style: solid;
    border-color: #999999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    ul#css3menu100 ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        opacity: 0.95;
        -moz-box-shadow: 0.7px 0.7px 1px #777777;
        -webkit-box-shadow: 0.7px 0.7px 1px #777777;
        box-shadow: 0.7px 0.7px 1px #777777;
        background-color: #005500;
        background-image: none;
        border-width: 1px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-style: solid;
        border-color: #5A5E60;
        padding: 0 9px 9px;
        filter: alpha(opacity=95)
    }

    ul#css3menu100 li:hover > * {
        display: block;
    }

    ul#css3menu100 li {
        position: relative;
        display: block;
        white-space: nowrap;
        font-size: 0;
        float: left;
    }

        ul#css3menu100 li:hover {
            z-index: 1;
        }

    ul#css3menu100 ul ul {
        position: absolute;
        left: 100%;
        top: 0;
        opacity: 1;
    }

ul#css3menu100 {
    font-size: 0;
    z-index: 999;
    position: relative;
    display: inline-block;
    zoom: 1;
    padding: 1px 1px 1px 0;
    *display: inline;
}

    * html ul#css3menu100 li a {
        display: inline-block;
    }

    ul#css3menu100 > li {
        margin: 0 0 0 1px;
    }

    ul#css3menu100 ul > li {
        margin: 1px 0 0;
    }

    ul#css3menu100 a:active, ul#css3menu100 a:focus {
        outline-style: none;
    }

    ul#css3menu100 a {
        display: block;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        font: bold 12px Arial,Helvetica,sans-serif;
        color: #ffffff;
        cursor: default;
        padding: 10px;
        background-color: #00557f;
        background-image: url("mainbk.png");
        background-repeat: repeat;
        background-position: 0 200px;
        border-width: 0px;
        border-style: none;
        border-color:;
    }

    ul#css3menu100 ul li {
        float: none;
        margin: 9px 0 0;
    }

    ul#css3menu100 ul a {
        text-align: center;
        padding: 8px 0 0 0;
        background-color: #005500;
        background-image: none;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #262626;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        font: 13px Arial;
        color: #ffffff;
        text-decoration: none;
    }

    ul#css3menu100 li:hover > a, ul#css3menu100 li a.pressed {
        background-color: #005500;
        border-style: none;
        color: #ffffff;
        background-image: url("mainbk.png");
        background-position: 0 100px;
    }

    ul#css3menu100 img {
        border: none;
        vertical-align: middle;
        margin-right: 10px;
    }

    ul#css3menu100 span {
        display: block;
        overflow: visible;
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 0px;
    }

    ul#css3menu100 ul span {
        background-image: url("../image/arrowsub.gif");
        padding-right: 15px;
    }

    ul#css3menu100 > li.switch {
        display: none;
        cursor: pointer;
        width: 25px;
        height: 20px;
        padding: 10px;
    }

        ul#css3menu100 > li.switch:before {
            content: "";
            position: absolute;
            display: block;
            height: 4px;
            width: 25px;
            border-radius: 4px;
            background: #ffffff;
            -moz-box-shadow: 0 8px #ffffff, 0 16px #ffffff;
            -webkit-box-shadow: 0 8px #ffffff, 0 16px #ffffff;
            box-shadow: 0 8px #ffffff, 0 16px #ffffff;
        }

        ul#css3menu100 > li.switch:hover:before {
            background: #ffffff;
            -moz-box-shadow: 0 8px #ffffff, 0 16px #ffffff;
            -webkit-box-shadow: 0 8px #ffffff, 0 16px #ffffff;
            box-shadow: 0 8px #ffffff, 0 16px #ffffff;
        }

.c3m-switch-input {
    display: none;
}

ul#css3menu100 li:hover > a, ul#css3menu100 li > a.pressed {
    background-color: #005500;
    background-image: url("../image/mainbk.png");
    background-position: 0 100px;
    border-style: none;
    color: #ffffff;
    text-decoration: none;
}

ul#css3menu100 ul li:hover > a, ul#css3menu100 ul li > a.pressed {
    background-image: none;
    border-style: solid;
    color: #aaff00;
    text-decoration: none;
}

ul#css3menu100 li.topfirst > a {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-shadow: #000000 0px -1px 1px;
}

    ul#css3menu100 li.topfirst:hover > a, ul#css3menu100 li.topfirst > a.pressed {
        text-shadow: #3d3d3d 0px -1px 1px;
    }

ul#css3menu100 li.topmenu > a {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-shadow: #000000 0px -1px 1px;
}

    ul#css3menu100 li.topmenu:hover > a, ul#css3menu100 li.topmenu > a.pressed {
        text-shadow: #3d3d3d 0px -1px 1px;
    }

ul#css3menu100 li.toplast > a {
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-shadow: #000000 0px -1px 1px;
}

    ul#css3menu100 li.toplast:hover > a, ul#css3menu100 li.toplast > a.pressed {
        text-shadow: #3d3d3d 0px -1px 1px;
    }

ul#css3menu100 _ > li > a {
    padding: 0;
}

ul#css3menu100 li.subfirst > a {
    border-width: 0;
    border-style: none;
    padding: 0;
}

    ul#css3menu100 li.subfirst:hover > a, ul#css3menu100 li.subfirst > a.pressed {
        border-style: none;
    }

@media screen and (max-width: 768px) {
    ul#css3menu100 > li {
        position: initial;
    }

    ul#css3menu100 ul .submenu, ul#css3menu100 li > ul {
        left: 0;
        right: auto;
        top: 100%;
    }

    ul#css3menu100 .submenu, ul#css3menu100 ul, ul#css3menu100 .column {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 0;
        width: 100% !important;
    }
}

@media screen and (max-width: 464px) {
    ul#css3menu100 {
        width: 100%;
    }

        ul#css3menu100 > li {
            display: none;
            position: relative;
            width: 100% !important;
        }

            ul#css3menu100 > li.switch, .c3m-switch-input:checked + ul#css3menu100 > li + li {
                display: block;
            }

                ul#css3menu100 > li.switch > label {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
}
