﻿/*#region ============Navigation============= */
nav {
/*===========Shadow of Nav Menu====*/
    /*ref: https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 5px 4px 5px #ff0000;
    -moz-box-shadow: 5px 4px 5px #ff0000;
    box-shadow: 5px 4px 5px #ff0000;
}

/*---I use navbar-inverse many people use navbar-Defult*/
/*==========Nav ber Properties are set defult==========*/
.navbar-inverse {
    background: none;
    border: none;
}
    /*------Fore Color-------*/
    .navbar-inverse .navbar-nav > li > a {
        color: #b6ff00
    }

    /*--------Active Color----------*/
    .navbar-inverse .navbar-nav > .active > a {
        color: white;
    }

/*==========Nav ber Properties are set defult==========*/


/* =======Sweep To Bottom Design =============*/
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-sweep-to-bottom:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*Hover Menu color when mouse hover down the color */
        background: rgba(255, 0, 0, 0.8); /*#aebe27;(Default Color)*/
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
        color: white;
    }

        .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
/* =======Sweep To Bottom Design =============*/

/*=====drop down Menu(Main)===*/
ul.dropdown-menu {
    right: auto !important;
    text-align: center !important;
    background: linear-gradient(#085252,#a4f5f5);
    /*Drop down Menu Min Height*/
    min-height: 100px;
    /*====Create Shadow Design====*/
    -webkit-box-shadow: 3px 3px 3px #ff0000;
    -moz-box-shadow: 3px 3px 3px #ff0000;
    box-shadow: 3px 3px 3px #ff0000;
    /*---------Animate Top to buttom-----*/
    /*animation: animatetop 0.4s*/
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 16px;
    clear: both;
    margin: 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}

    /*=====Sub menu selectes color=====*/
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: none; /*linear-gradient(#000000,#ff0000);*/
    }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ff0000;
    outline: 0;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 103%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-width: 5px 0 5px 5px;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }


/*#endregion */




