body {
    background-color: #f5fbfb
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #084951
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb {
    background-color: #ffb800;
    outline: 1px solid red
}

.color-blue {
    color: #1d92af
}

.color-segreen {
    color: #3f7577
}

.color-orang {
    color: #ce7b11
}

.padding-top>.col-md-6 {
    padding-bottom: 15px
}

.wrapper {
    min-height: 2000px
}

.padding-top {
    padding: 0!important;
    padding-top: 15px!important
}

.no-margin {
    margin: 0!important
}

.no-margin {
    margin: 0!important
}

.top-bar {
    background-image: url('/Web/images/Textture_Colorty3.jpg');
    /*background: linear-gradient(to bottom, rgba(17, 178, 189, .9)0, rgba(13, 115, 109, .93)95%, #0cf744);*/
    padding: 0;
    border: solid 0;
    border-radius: 0;
    margin-bottom: 0
}

.menu-icon {
    float: left;
    margin: 3px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px
}

.top-bar .form-control {
    border-color: #fff;
    color: #fff;
    background-color: #000;
    border-radius: 0
}

.top-bar .navbar-form {
    padding: 0 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    box-shadow: none
}

.navbar-nav {
    text-align: center
}

.top-bar .btn-default {
    border-color: #fff;
    color: #fff;
    background-color: #000;
    border-radius: 0
}

.top-bar .badge {
    display: inline-block;
    min-width: 10px;
    position: absolute;
    top: 9px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff5722;
    border-radius: 10px
}

.top-bar .user-profile {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: block;
    padding: 11px 0
}

.top-bar .user-profile img {
    border-radius: 100px
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff
}

@media(max-width:768px) {
    .nav>li {
        position: relative;
        display: inline-block
    }
}

.left-sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 240px;
    height: 100%;
    overflow: hidden;
    -moz-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    overflow-y: scroll;
    transition: .5s;
    z-index: 99
}

.hide-sidebar {
    position: fixed;
    left: -250px;
    top: 50px;
    width: 240px;
    height: 100%;
    overflow: hidden;
    -moz-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, .3);
    overflow-y: scroll;
    z-index: 99
}

.left-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #ececec
}

.left-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.left-sidebar::-webkit-scrollbar-thumb {
    background-color: #084951;
    outline: 1px solid #000
}

.left-sidebar .side-nav {
    margin: 0;
    padding: 0
}

.left-sidebar .side-nav li {
    width: 100%;
    list-style-type: none;
    padding: 0
}
    /*left Menu panel Size-----------------------*/
.left-sidebar .side-nav li a {
    display: block;
    padding: 12px;
    text-decoration: none
}

.panel1 {
    margin-bottom: 0;
    border-top: 1px solid #777;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    /*background-image: url('/GlobalTools/image/BgImage/p5.png');*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(left, #CCCCCC 0%, #EEEEEE 50%, #EEEEEE 50%, #CCCCCC 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCCCCC),color-stop(50%,#EEEEEE), color-stop(50%,#EEEEEE), color-stop(100%,#CCCCCC));
}

.panel1 a {
    color: #000
}
/*left Menu hover BackGround------------------------*/
.panel1 a:hover {
    background-color:bisque 
}

@media(min-width:768px) {
    .left-container {
        width: 18%;
        float: left;
        transition: .5s
    }
    .right-container {
        width: 82%;
        float: right;
        transition: .5s;
        margin-top: 70px
    }
    .less-width {
        width: 0;
        transition: .5s
    }
    .full-width {
        width: 100%;
        transition: .5s
    }
}

.mini-stat h5 {
    float: left;
    margin: 0;
    text-align: left;
    font-size: .85em;
    color: #888
}

.mini-stat li {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px
}

.mini-stat>li:first-child {
    border-left: none
}

.mini-stat h5 .stat-value {
    display: block;
    font-size: 18px;
    margin-top: 4px
}

.right-container .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px
}

.main-header {
    margin-bottom: 30px
}

.main-header h2 {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px
}

.main-header em {
    color: #bbb
}