﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Sp-Admin.Master" AutoEventWireup="true" CodeBehind="Mail.aspx.cs" Inherits="SchoolWebApplication.Admin.Mail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Panel ID="pnlNoticeList" runat="server" class="panel panel-info">
        <div class="panel-heading"><span class="fa fa-dashboard"></span>Dashboard</div>
        <div class="panel-body">

            <div style="height: 100%; width: 100%;">
                <div class="embed-responsive embed-responsive-16by9" style="min-height: 500px">
                    <iframe runat="server" class="embed-responsive-item" src="http://webmail.mvkvbalaipanda.in/Mondo/lang/sys/login.aspx" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </asp:Panel>
</asp:Content>
