﻿/*#region ====================gallery  Design============ */


/*Galler Thumb nail design*/
/**/

.container-thumb {
    /*position: relative;*/
    /*width:100%;*/
    text-align: center;
}

.image-thumb {
    /*display: block;*/
    width: 230px;
    height: 210px;
    border-radius: 20%;
}

.overlay-thumb {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    /*transparent*/
    background-color: #1ef805;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 20%;
}

.container-thumb:hover .overlay-thumb {
    bottom: 0;
    height: 100%;
}

.text-thumb {
    color: black;
    position: absolute;
    top: 50%;
    nt-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/*</style>*/

/*#endregion */

   /*jssor slider loading skin spin css*/
/*#region =========jssor slider loading skin spin css ========== */

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*jssor slider arrow skin 093 css*/
.jssora093 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora093 .c {
        fill: none;
        stroke: #fff;
        stroke-width: 400;
        stroke-miterlimit: 10;
    }

    .jssora093 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 400;
        stroke-miterlimit: 10;
    }

    .jssora093:hover {
        opacity: .8;
    }

    .jssora093.jssora093dn {
        opacity: .6;
    }

    .jssora093.jssora093ds {
        opacity: .3;
        pointer-events: none;
    }

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #000;
}

    .jssort101 .p .cv {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
        box-sizing: border-box;
        z-index: 1;
    }

.jssort101 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
    visibility: hidden;
}

.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
    border: none;
    border-color: transparent;
}

.jssort101 .p:hover {
    padding: 2px;
}

    .jssort101 .p:hover .cv {
        background-color: rgba(0,0,0,6);
        opacity: .35;
    }

    .jssort101 .p:hover.pdn {
        padding: 0;
    }

        .jssort101 .p:hover.pdn .cv {
            border: 2px solid #fff;
            background: none;
            opacity: .35;
        }

.jssort101 .pav .cv {
    border-color: #fff;
    opacity: .35;
}

.jssort101 .pav .a, .jssort101 .p:hover .a {
    visibility: visible;
}

.jssort101 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .6;
}

.jssort101 .pav .t, .jssort101 .p:hover .t {
    opacity: 1;
}


/*#endregion */