﻿/*#region ----for Teachers Opinin slide ----- */


.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

/*#endregion */

/*==============More && lEss Teacher opinion=============*/
/*-Ref:https://viralpatel.net/blogs/dynamically-shortened-text-show-more-link-jquery/*/
.comment {
    margin: 5px;
}

a.morelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

/*==============More && lEss=============*/

