﻿
/* ------------Notice Board Style Use Home Section -----------------*/

.noticeboard
{
    margin-top:40px;
   /* border:1px solid #ccc;*/
    height:252px;
    padding:5px;
    margin-top:10px;
    position:relative;
    border-top:4px solid #195A09;
    border-bottom:4px solid #195A09;
}
    .noticeboard .Title {
        position: absolute;
        background: url('/Web/images/Textture_Colorty3.jpg');
        top: -20px;
        left: 28%;
        padding: 8px;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 4px #000;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 10pt;
        width: 200px;
        text-align: center;
        margin: 0 auto;
    }
.noticeboard .Title:after
{
   position: absolute; 
    height: 0px; 
    width: 0px; 
    border-top: 10px solid transparent; 
    border-left: 10px solid #195A09; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #195A09; 
    top:0px;
    right:-20px;
    content:' '
       
}
.noticeboard .Title:before
{
    position: absolute; 
    height: 0px; 
    width: 0px; 
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid #195A09 ; 
    border-bottom: 10px solid #195A09; 
    top:0px;
    left:-20px;
    content:' '
   
}
.noticeboard .buttom
{
    
    position:absolute;
    bottom:-1px;
    left:0; width:100px;
}

/* ------------Notice Board Style -----------------*/

