
body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color: #fff;
    font-family: Cambria;
    height: 100%;
    border-top: 4px solid #a20327;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Times New Roman', sans-serif;
}


/*-- to-top --*/
/*#region ==============To top================= */

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url('/Web/images/arrow.png') no-repeat 0px 0px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*#endregion */
/*-- //to-top --*/


