﻿<%@ Control Language="C#" AutoEventWireup="true"  CodeBehind="UC_Form_Header_Label.ascx.cs" Inherits="SchoolWebApplication.Web.UserControl.UC_Form_Header_Label" %>

<%-- css is Present <GlobalTools->>gStyle.css> --%>

<%--============= Heading Style============= --%>
<div class="title-div">
    <h3 class="tittle">
        <span id="Heading_title_div" runat="server"></span><label id="lblheadertitle0025" runat="server"></label>
    </h3>
    <div class="tittle-style">
    </div>
</div>

<%-- //==============Heading Style========== --%>