﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_National_Anthem.ascx.cs" Inherits="SchoolWebApplication.Web.UserControl.UC_National_Anthem" %>
<audio controls="controls" autoplay="autoplay">
  <source src="../FilesAndFolder/SYSFiles/National_Anthem_Jana_Gana_Mana.mp3" type="audio/ogg">
  <source src="../FilesAndFolder/SYSFiles/National_Anthem_Jana_Gana_Mana.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

