﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="SchoolWebApplication.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Wellcome To Our School</title>
</head>
<body>
   
    <form id="form1" runat="server">
    <div class="">
        Please wait....
      <%Response.Redirect("~/Web/Home");%>
    </div>
    </form>
</body>
</html>
