﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Sp-Admin.aspx.cs" Inherits="SchoolWebApplication.Sp_Admin" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Please wait....
       
      <%Response.Redirect("~/Admin/Login.aspx");%>
    </div>
    </form>
</body>
</html>
